* {
  margin: 0px;
  padding: 0px;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  list-style: none;
}
/* * {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
} */
a {
  text-decoration: none;
  color: #000;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
